Team4/PhoneApp2/Service References/VastariAPI/VastariAPIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vastarinewvm.cloudapp.net/VastariAPIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:import schemaLocation="http://vastarinewvm.cloudapp.net/VastariAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" />
  <xs:element name="StartSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminateSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="LoginResult" nillable="true" type="q1:loginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateUserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="registartion" nillable="true" type="q2:regParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateUserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrivateUserRegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstitutionalUserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="registartion" nillable="true" type="q3:InstitutionalUserReg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstitutionalUserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstitutionalUserRegistrationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="obj" nillable="true" type="q4:VS_Objects" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="details" nillable="true" type="q5:ArrayOfVS_ObjectsDetail" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="UploadObjectResult" nillable="true" type="q6:VS_Objects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetObjectDetailResult" nillable="true" type="q7:ObjectDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:long" />
        <xs:element minOccurs="0" name="images" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateObjectImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateObjectImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q8:ArrayOfVS_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mainCatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetSubCategoriesResult" nillable="true" type="q9:ArrayOfVS_Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetArtistByIdResult" nillable="true" type="q10:VS_Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetAllArtistsResult" nillable="true" type="q11:ArrayOfVS_Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" type="xs:long" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboxMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetInboxMessagesResult" nillable="true" type="q12:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" type="xs:long" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" minOccurs="0" name="GetSentMessagesResult" nillable="true" type="q13:ArrayOfMessages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>