Team4/PhoneApp2/Service References/VastariAPI/VastariAPIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vastari.Services.Api.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VS_Objects">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anonymous" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="AuthenticityCertificate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CulturalDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CulturalOriginId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfAcquisition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeographicalOriginId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImageCopyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Literature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Object_Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastExhibitions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provenance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsibleDepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unknown" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="YearFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depth" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="inputYears" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VS_Objects" nillable="true" type="tns:VS_Objects" />
  <xs:complexType name="ArrayOfVS_ObjectsDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VS_ObjectsDetail" nillable="true" type="tns:VS_ObjectsDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVS_ObjectsDetail" nillable="true" type="tns:ArrayOfVS_ObjectsDetail" />
  <xs:complexType name="VS_ObjectsDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="SrNo" type="xs:int" />
      <xs:element minOccurs="0" name="attribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VS_ObjectsDetail" nillable="true" type="tns:VS_ObjectsDetail" />
  <xs:complexType name="ObjectDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CulturalOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeographicalOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Literature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LoginType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectArt" nillable="true" type="tns:ArrayOfObjectArtDeatil" />
      <xs:element minOccurs="0" name="ObjectSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnedById" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PastExhibitions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provenance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfUserId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depth" type="xs:decimal" />
      <xs:element minOccurs="0" name="height" type="xs:decimal" />
      <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="width" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectDetail" nillable="true" type="tns:ObjectDetail" />
  <xs:complexType name="ArrayOfObjectArtDeatil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectArtDeatil" nillable="true" type="tns:ObjectArtDeatil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectArtDeatil" nillable="true" type="tns:ArrayOfObjectArtDeatil" />
  <xs:complexType name="ObjectArtDeatil">
    <xs:sequence>
      <xs:element minOccurs="0" name="SrNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="typeid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectArtDeatil" nillable="true" type="tns:ObjectArtDeatil" />
  <xs:complexType name="ArrayOfVS_Category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VS_Category" nillable="true" type="tns:VS_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVS_Category" nillable="true" type="tns:ArrayOfVS_Category" />
  <xs:complexType name="VS_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VS_Category" nillable="true" type="tns:VS_Category" />
  <xs:complexType name="VS_Artist">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeathYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entered_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VS_Artist" nillable="true" type="tns:VS_Artist" />
  <xs:complexType name="ArrayOfVS_Artist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VS_Artist" nillable="true" type="tns:VS_Artist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVS_Artist" nillable="true" type="tns:ArrayOfVS_Artist" />
  <xs:complexType name="ArrayOfMessages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Messages" nillable="true" type="tns:Messages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessages" nillable="true" type="tns:ArrayOfMessages" />
  <xs:complexType name="Messages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MsgDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NewNotifications" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_Records" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isNextPage" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPaging" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPreviousPage" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="isReplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="previousPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Messages" nillable="true" type="tns:Messages" />
</xs:schema>