Team4/PhoneApp2/Service References/VastariAPI/VastariAPIService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" type="xs:long" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="loginResponse" nillable="true" type="tns:loginResponse" />
  <xs:complexType name="regParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOfInterest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescribeAs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescribeAsId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralNews" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestNews" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploads" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="regParameters" nillable="true" type="tns:regParameters" />
  <xs:complexType name="InstitutionalUserReg">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddContact" type="xs:boolean" />
      <xs:element minOccurs="0" name="BorrowObjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuratorialSearch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExhibitionPerYear" type="xs:int" />
      <xs:element minOccurs="0" name="InstitutionLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstitutionWebsite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MuseumType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MuseumTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravellingExhibition" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactDetails" nillable="true" type="tns:ArrayOfUserContactDetails" />
      <xs:element minOccurs="0" name="isMemberofAny" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isTutorial" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstitutionalUserReg" nillable="true" type="tns:InstitutionalUserReg" />
  <xs:complexType name="ArrayOfUserContactDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserContactDetails" nillable="true" type="tns:UserContactDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserContactDetails" nillable="true" type="tns:ArrayOfUserContactDetails" />
  <xs:complexType name="UserContactDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOfInterest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOfInterestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPrimary" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContactDetails" nillable="true" type="tns:UserContactDetails" />
</xs:schema>